.App {
  text-align: center;
  background-color: white;
}

.App-header {
  margin-top: 60px;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.cartContainer {
  position: relative;
}

.deleteBtn {
  position: absolute;
  top: 80%;
  left: 85%;
  color: red;
  transition: color 0.2s ease-in-out;
}

.deleteBtn:hover {
  color: green;
  cursor: pointer;
}

#orderContainer {
  margin-bottom: 120px;
}